{{ if eq .chezmoi.os "darwin" -}}
#!/bin/zsh

echo "󰯁 Setup network {{ title .network }} with {{ output "git" "-C" (joinPath .chezmoi.homeDir ".config/proxy") "rev-parse" "HEAD" }}"
logrotate -f /usr/local/etc/logrotate.d/xray
networksetup -setairportpower en0 on
networksetup -switchtolocation {{ title .network | quote }}
brew services stop xray
brew services start xray --file=$HOME/.config/xray/homebrew.mxcl.xray.plist
open -j "/Applications/Proxifier.app"
sleep 5
{{ end -}}
