{{ if eq .chezmoi.os "darwin" -}}
#!/bin/zsh

echo "󰯁 Setup network {{ title .network }}"
brew services stop xray
logrotate -f /usr/local/etc/logrotate.d/xray
networksetup -setairportpower en0 on
networksetup -switchtolocation {{ title .network | quote }}
brew services start xray --file=$HOME/.config/xray/homebrew.mxcl.xray.plist
sleep 5
{{ end -}}
