#!/bin/zsh

echo "󰯁 Setup proxy with {{ output "git" "-C" (joinPath .chezmoi.homeDir ".config/proxy") "rev-parse" "HEAD" }}"
echo "Xray running: {{ output "brew" "services" "info" "xray" "--json" | fromJson | jq ".[0].running" | first }}"

cd ~/.config/proxy/ansible/
ansible-playbook playbook.yml --limit localhost
