#!/bin/zsh

# {{ output "git" "-C" (joinPath .chezmoi.homeDir ".emacs.d") "rev-parse" "HEAD" }}
\emacsclient -a='' --eval '(package-upgrade-all)' && \emacsclient --eval '(kill-emacs)' && \emacs --daemon
