{{ if eq .chezmoi.os "darwin" -}}
#!/bin/zsh

echo "󰯁 Setup macOS"
defaults write com.apple.Maps AppleLanguages '("zh_CN")'
defaults write com.mowglii.ItsycalApp ShowEventPopoverOnHover -bool YES
{{ end -}}
