{{ if eq .chezmoi.os "darwin" -}}
#!/bin/zsh

echo "󰯁 Setup network {{ title .network }}"
{{- if eq .chezmoi.hostname "CNSHBL0454" }}
networksetup -setairportpower en0 {{ if .useHotspot -}} off {{- else -}} on {{- end -}}
{{- end }}
networksetup -switchtolocation {{ title .network | quote }}
echo "Done"
open -j "/Applications/Proxifier.app"
{{ end -}}
