{{- $email := promptStringOnce . "email" "Email address" -}}

[data]
    email = {{ $email | quote }}

[data.path]
{{- if eq .chezmoi.os "darwin" }}
# darwin
{{- if eq .chezmoi.arch "arm64" }}
    brew = "/opt/homebrew/bin"
    gh = "/opt/homebrew/bin/gh"
{{- else }}
    brew = "/usr/local/bin"
    gh = "/usr/local/bin/gh"
{{- end }}
{{- else if eq .chezmoi.os "linux" }}
# linux
    gh = "/usr/bin/gh"
{{- else if eq .chezmoi.os "windows" }}
# windows
    gh = "'C:\\\\Program Files\\\\GitHub CLI\\\\gh.exe'"
{{- else }}
# unknown
{{- end }}

[diff]
    exclude = ["scripts", "externals"]

[[textconv]]
    pattern = "**/*.plist"
    command = "plutil"
    args = ["-convert", "xml1", "-o", "-", "-"]
