{{- $email := promptStringOnce . "email" "Email address" -}}
{{- $networkLocationType := list "basic" "work" "automatic" -}}
{{- $ssid := output "networksetup" "-getairportnetwork" "en0" | trimPrefix "Current Wi-Fi Network: " | trim -}}
{{- $network := "automatic" -}}
{{- $useHotspot := false }}
{{- $isDarkMode := false }}

{{- if ne $ssid "Misaka" }}
{{- $network = promptChoice "Network location" $networkLocationType -}}
{{- end }}

{{- if and (eq .chezmoi.hostname "CNSHBL0454") (eq $network "basic") (ne $ssid "Misaka")}}
{{- $useHotspot = promptBool "Use Hotspot" }}
{{- end }}

{{- if eq .chezmoi.os "darwin" }}
{{- $isDarkMode = eq "Dark" (output "sh" "-c" "defaults read -g AppleInterfaceStyle 2>/dev/null || true" | trim) }}
{{- end }}

[data]
    email = {{- $email | quote }}
	network = {{- $network | quote }}
	useHotspot = {{- $useHotspot }}
	ssid = {{- $ssid | quote }}
	isDarkMode = {{- $isDarkMode }}

[data.path]
{{- if eq .chezmoi.os "darwin" }}
# darwin
{{- if eq .chezmoi.arch "arm64" }}
    brew = "/opt/homebrew/bin"
    gh = "/opt/homebrew/bin/gh"
{{- else }}
    brew = "/usr/local/bin"
    gh = "/usr/local/bin/gh"
{{- end }}
{{- else if eq .chezmoi.os "linux" }}
# linux
    gh = "/usr/bin/gh"
{{- else if eq .chezmoi.os "windows" }}
# windows
    gh = "'C:\\\\Program Files\\\\GitHub CLI\\\\gh.exe'"
{{- else }}
# unknown
{{- end }}

[diff]
    exclude = ["scripts", "externals"]

[github]
    refreshPeriod = "24h"
