[credential "https://github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
[init]
	defaultBranch = main
[user]
	email = chuxubank@qq.com
	name = Misaka
[credential]
	helper = libsecret
[includeIf "gitdir:Developer/Work/"]
	path = ~/Developer/Work/.gitconfig
[pull]
	rebase = true
