[user]
name = Misaka
email = chuxubank@qq.com

[includeIf "gitdir:~/Developer/AA/"]
path = .gitconfig_aa

[core]
excludesfile = ~/.gitignore_global
autocrlf = input

[init]
defaultBranch = main

[pull]
rebase = true

[rebase]
autoStash = true

[credential "https://github.com"]
	helper = 
	helper = !{{ .path.gh }} auth git-credential

[credential "https://gist.github.com"]
	helper = 
	helper = !{{ .path.gh }} auth git-credential

{{ if eq .chezmoi.os "windows" -}}
[credential]
	helper = 
	helper = manager
{{ end -}}
