[containers]


[engine]
env = [ "http_proxy=socks5://127.0.0.1:10800", "https_proxy=socks5://127.0.0.1:10800" ]
# compose_providers = [ "{{.path.brew}}/bin/podman-compose" ]
compose_warning_logs = false

[secrets]


[configmaps]
