<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>KeepAlive</key>
	<true/>
	<key>Label</key>
	<string>homebrew.mxcl.xray</string>
    <key>StandardOutPath</key>
    <string>{{ .chezmoi.homeDir }}/Library/Logs/Xray/stdout.log</string>
    <key>StandardErrorPath</key>
    <string>{{ .chezmoi.homeDir }}/Library/Logs/Xray/stderr.log</string>
	<key>LimitLoadToSessionType</key>
	<array>
		<string>Aqua</string>
		<string>Background</string>
		<string>LoginWindow</string>
		<string>StandardIO</string>
		<string>System</string>
	</array>
	<key>ProgramArguments</key>
	<array>
      <string>/bin/zsh</string>
      <string>-i</string>
      <string>-c</string>
      <string>xray run -confdir ~/.config/proxy/client/xray/${(L)NET_LOCAL:-"basic"}</string>
	</array>
	<key>RunAtLoad</key>
	<true/>
</dict>
</plist>
