<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>KeepAlive</key>
	<true/>
	<key>Label</key>
	<string>njcw.rclone.org</string>
    <key>StandardOutPath</key>
    <string>{{ .chezmoi.homeDir }}/Library/Logs/rclone/stdout.log</string>
    <key>StandardErrorPath</key>
    <string>{{ .chezmoi.homeDir }}/Library/Logs/rclone/stderr.log</string>
	<key>LimitLoadToSessionType</key>
	<array>
		<string>Aqua</string>
		<string>Background</string>
		<string>LoginWindow</string>
		<string>StandardIO</string>
		<string>System</string>
	</array>
	<key>ProgramArguments</key>
	<array>
      <string>{{ .path.brew }}/nfsmount nutstore:org {{ .chezmoi.homeDir }}/org --vfs-cache-mode full --volname org</string>
	</array>
	<key>RunAtLoad</key>
	<true/>
</dict>
</plist>
